@import "mixins";

.wrapper-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: black;
  height: 10vh;
  width: $width;
  margin: 0 auto;
}

.copyright {
  grid-row: 2;
  grid-column: 1;
  color: white;
  text-align: left;
  margin: auto 0;
  padding-left: 10%;


  p {
    font-family: $font-name;
    font-size: 12px;
  }
}

.div-contact {
  grid-row: 2;
  grid-column: 3;
  text-align: right;
  color: white;
  margin: auto 0;
  padding-right: 10%;


  p {
    font-family: $font-name;
    font-size: 12px;
  }
}
