@import "mixins";

.wrapper-page-3,
.wrapper-page-2 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: $height;
  width: $width;
  margin: 0 auto;
  background: #f6f6f6;
  padding-bottom: 15%;
}
.wrapper-page-1 {
  @extend .wrapper-page-2;
  padding-top: 650px;
}

.photo-2 {
  grid-column: 3/3;
  grid-row: 1/4;
}

.description-2 {
  grid-column: 4/7;
  grid-row: 3/3;
  margin-top: 23%;
  margin-left: 130px;
  width: 50%;

  h1 {
    font-size: $fsh1;
    font-family: $font-name;
  }

  p {
    font-size: $fsp;
    font-family: $font-name;
    margin-top: -15px;
  }
}

.photo-1 {
  grid-column: 5/5;
  grid-row: 1/4;
}

.description-1 {
  grid-column: 3/5;
  grid-row: 3/3;
  margin-top: 28%;
  width: 75%;

  h1 {
    font-size: $fsh1;
    font-family: $font-name;
  }

  p {
    font-size: $fsp;
    font-family: $font-name;
    margin-top: -15px;
  }
}
